@font-face{
	
    src: url(fonts/Roboto-Light.ttf);
}
@font-face{
    src: url(fonts/Myriad Pro Bold.ttf);
}
@font-face{
    src: url(fonts/CormorantGaramond-MediumItalic.ttf);
}
@font-face{
    src: url(fonts/Myriad Pro Regular.ttf);
}
/*coomon start*/

    
    
body{
    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #122341;
    
    
}
header{
	background-color: transparent;
	padding: 80px 0 60px 0;
}
.navbar-light .navbar-toggler {
    color: #122341;
    border-color: #122341;
}
/*header*/
.banner{
	padding: 250px 0 150px 0;
	width: 100%;
	background-image: url(../image/tes.jpg);
	background-position:center;
	background-size: cover;
}
.c_nav{
	padding-bottom: 100px;
}
  .menu ul li a{
	 font-family: 'myriad-pro', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #000b2c !important;
    padding: 0 20px !important;
	  position: relative;
  
  text-decoration: none;
}
.menu ul li a:hover {
  color: #fff;
}
.menu ul li a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ff4a00;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.menu ul li a:hover::before {
  transform: scaleX(1);
}
  .menu ul li:first-child a{
    padding-left: 0 !important;
  
}
.logo{
	
	width: 200px;
	height: auto;
	
}
.logo a{
	margin: 0;
}
.h_txt{
	
}
.c_txt{
	font-family: 'Cormorant-Garamond', serif;
	font-style: italic;
	font-weight: 500;
	font-size: 153px;
	color: #000b2c;
	padding-bottom: 60px;
}



.h_txt h3{
	font-family: 'myriad-pro', sans-serif;
	font-size: 33px;
	color: #ff4a00;
}
.h_txt p{
	padding: 30px 123px 30px 0px;
	line-height: 28px;
	color: #fff;
}
.c_btn{
    text-align: center;
    line-height: 19px;
    padding: 12px 32px;
    background-color: #ff4a00;
	color: #fff !important;
    border: 0;
    border-radius: 10px;
	transition: .3s;
}

.c_btn a{
	color: white;
	font-size: 18px;
	text-decoration: none;
	transition: .3s;
}
.c_btn a:hover{
	 color: #ff4a00 !important;
	
}
.c_btn:hover{
		
	
  
	background-color: #fff !important;
}

/*dark start*/
.dark{
	
}
.d_img{
	background-image: url(../image/dbg.png);
	width: 100%;
    padding: 100px 0;
    background-position:center;
	background-size: cover;
}
.d_txt{
	font-size: 125px;
	padding: 0 0px 80px 0;
	
}
.d_paragrp{
	
}
.d_paragrp p{
	padding-left: 40px;
	line-height: 28px;
	text-align: end;
	color: #fff;
}
/*cold start*/

.c_img{
	background-image: url(../image/cbg.png);
	width: 100%;
    padding: 120px 0;
    background-position:center;
	background-size: cover;
}
.c_paragrp p{
	padding-right: 40px;
	line-height: 28px;
	
	color: #fff;
}

/*hot start*/

.h_img{
	background-image: url(../image/hbg.png);
	width: 100%;
    padding: 100px 0;
    background-position:center;
	background-size: cover;
}

/*gift start*/
.gift{
	padding: 20px 0;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.g_content{
	
	
	border: 8px solid black;
	padding: 50px;
}
.g_img img{
	width: 300px;
	height: 300px;
}
.g_txt{
	text-align: center;
}
.g_txt h1{
	font-family: 'Cormorant-Garamond', serif;
	font-style: italic;
	font-weight: 400;
	font-size: 100px;
	color: #000b2c;
	padding-bottom: 20px;
}
.g_btn{
	font-weight: 700;
	font-size: 50px;
	margin: 0 80px;
	border-radius: 10px;
	background-color: #f2b59c;
	border:2px solid #ff4a00;
	
}
.g_txt p{
	font-family: 'myriad-pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
	padding-top: 40px;
}
/*gift end*/

/*about start*/
.about{
	padding: 40px 0;
}
.about_txt{
	background-color: #f6f6f4;
	text-align: center;
	line-height: 28px;
	padding: 0 80px;
}
.c_h1{
	font-family: 'Cormorant-Garamond', serif;	
	font-weight: 500;
	font-size: 88px;
	color: #000b2c;
	padding-bottom: 60px;
}
.p2{
	padding: 60px 0 100px 0;
}
/*review start*/
.review{
	
}
.clr{
	text-align: center;
	font-family: 'Cormorant-Garamond', serif;
	background-color: #000b2c;
	padding: 20px 0;
	color: #fff;
	
}
.clr h3{
	font-size: 50px;
	padding: 30px 0;
}
.clr p{
padding-bottom: 60px;	
}
/*time start*/
.time{
	padding: 60px 0 60px 0;
}

.box h4{
	font-size: 40px;
}
.box{
	margin-bottom: 40px;
	padding: 20px 40px;
	height: 150px;
	background-color: #233e6a;
	color: #fff;
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.54);
	text-align: center;
}
.box1{
	
}
.box h4 {
	font-size: 40px;
}
.box p{
	font-size: 30px;
}







/*branch start*/
.item1{
	background-color: #233e6a;
	padding-bottom: 20px;
	box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.54);
	margin-bottom: 80px;
}
.item1 img{
	width: 100%;
	padding-bottom: 20px;
}
.i_name{ 
	    margin-left: -9px;
	width: 250px;
	height: 80px;
	padding-bottom: 10px;
	background-image: url(../image/item1.png);
	background-repeat: no-repeat;
	
}
.i_name h5{
	padding: 10px 20px;
	font-size: 25px;
	color: #fff;
}
.i_txt{
	background-color: #000b2c;
	color: #fff;
	margin: 0px 30px;
	padding: 15px;
	
}

/*footer start*/


.footer{}
.footer_top{ 
	padding: 80px 0;
      background-color: #0b1a39;
}
.foot ul li a{
color: #fff !important;
}



a{
	text-decoration: none;
	color: #888;
}
.f2 ul li{
	margin-bottom: 8px;
}

.f2 ul li a{
	
	transition: .3s;
}
.f2 ul li a:hover{
	color: #ff7214 !important;
}


.f_tit{
	padding-bottom: 15px;
	color: white;
}
.footer_btm{
	padding: 20px 0;
	background-color: #091736;
}

.f_menu ul li a{
	padding: 0 20px;
	color: white!important;
}
 .f_menu ul li:first-child a{
    padding-left: 0 !important;
  
}

.f_icon ul li a{
	font-size: 20px;
	padding: 0 12px;
	color: #ff7214 !important;
}
 .f_icon ul li:last-child a{
    padding-right: 0 !important;
  
}
/*footer end*/
